{% capture navbar %}

<a href="{{ site.root }}" class="mobile home">Archive</a>
<a href="{{ site.root }}projects.html" class="mobile">Projects</a>
<a href="{{ site.root }}colophon.html" class="mobile">Colophon</a>
<a href="{{ site.root }}contact.html" class="mobile">Contact</a>
{% if site.subscribe_rss %}
	<a href="{{ site.subscribe_rss }}" class="mobile">RSS Feed</a>
{% else %}
	<a href="{{ site.root }}atom.xml" class="mobile">RSS Feed</a>
{% endif %}

{% endcapture %}{% capture homeURL %}{{site.root}}index.html{% endcapture %}{% if page.url != homeURL %}{% capture navbar %}{{ navbar | remove:' class="mobile"' }}{% endcapture %}{% endif %}{{ navbar | strip_newlines }}