---
layout: master
---
		<article class='hentry'>
			<header>
				<h2 class='entry-title'>{{page.title}}</h2>
				<a href='{{page.url}}' class='bookmark'>
					<data value='{{page.date | date_to_xmlschema}}' class='date instapaper_date updated'>{{page.date | date_to_string}}</data>
				</a>
				{% if site.googleplus_user %}<a href='https://plus.google.com/{{ site.googleplus_user }}?rel=author' class='author' rel='author'>{{ site.author }}</a>{% endif %}
			</header>
			<div class='entry-content'>
				{{ content }}
				{% if page.mediagazer %}<p class="refrence mediagazer"><a href='{{ page.mediagazer }}'>Read more at Mediagazer</a></p>{% endif %}
				{% if page.techmeme %}<p class="refrence techmeme"><a href='{{ page.techmeme }}'>Read more at Techmeme</a></p>{% endif %}
			</div>
		</article>
